html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'gilroy';
  src: url('fonts/Gilroy-Light.otf');
  src: url('fonts/Gilroy-Light.otf') format('otf');
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: 'gilroy';
  line-height: 1.5;
  color: white;
  background-color:#587c5d;
  
}

.title{
  text-align:center;
  font-size:3em;
  background-color:#4c6c50;
  border-radius:40px;
}


.tuckerface{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width:400px;
    border-radius:30px;
}

.info-table{
  margin-left:auto;
  margin-right:auto;
  border-spacing:4px 0.25em;
}

.basinfo{
  text-align: right;
  font-weight: bold;
  background-color:#66896b;
  padding:5px;
  border-radius:8px;
}

.giveinfo{
  text-align:left;
  background-color:#4c6c50;
  padding:5px;
  border-radius:8px;
}

.question-table{
  display: block;
  margin-left:auto;
  margin-right:auto;
  width:80%;
  Max-width:600px;
  border-spacing:5px 0.75em;
}

.question{
  vertical-align:top;
  text-align:right;
  padding:5px 10px;
  font-weight: bold;
  background-color:#66896b;
  border-radius:15px;
}

.answer{
  vertical-align:top;
  text-align:left;
  padding:5px 10px;
  background-color:#4c6c50;
  border-radius:15px;
}